*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    font-family: Lato, sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 10px;
    color: #444;
    background-color: #fff;
    overflow: hidden;
  }
  
  svg {
    background: radial-gradient(ellipse at center, #fefefe 0%, #cbeeff 100%);
  }
  
  rect {
    fill: #006da1;
  }
  
  circle {
    stroke-width: 5;
    stroke: #f00;
    fill: #ff0;
  }
  
  p {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 3px 6px;
    background-color: rgba(255,255,255,0.8);
  }