html,
body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: 150px auto 100px;
    grid-template-columns: minmax(200px, 3fr) 9fr;
    grid-template-areas: "header header"
        "nav    content"
        "nav    footer";
    background-color: beige;
}

header {
    grid-area: header;
    background-color: bisque;
}

nav {
    grid-area: nav;
    background-color: gainsboro;
}