.loader {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: solid 4px;
    border-color: #000000 #00000010 #00000010;
    position: relative;
    animation-name: spin;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

body {
    background-color: #f9f9f7;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container {
    margin: 1.5%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 35%;
    min-width: 320px;
    min-height: 200px;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 16px 12px -8px #00000020;
}

.text {
    color: black;
    font-size: 16px;
    font-family: 'Mukta', sans-serif;
    justify-content: right;
    margin: 8px
}