body {
    font-family: Georgia;
    line-height: 1.4;
}

h1 {
    text-decoration-line: underline;
    text-decoration-thickness: .1em;
    text-decoration-color: orangered;
}

.position {
    text-underline-position: under;
}

.offset {
    text-underline-offset: .3em;
}