@use postcss-preset-env {
    stage: 0;
}

.container {
    min-block-size: 25ch;
    inline-size: 100%;
    max-inline-size: 720px;
    background: hsl(0 0% 90%);
    padding: 2rem;
    box-sizing: border-box;
    margin-inline: auto;
}

.flex {
    display: flex;
    flex-direction: column;
}

.grid {
    display: grid;
}

.place-items {
    place-items: center;
}

.place-content {
    place-content: center;
}

.align-items-and-content {
    align-items: center;
    justify-content: center;
}

h2,
p {
    margin: 0;
}

body {
    display: grid;
    gap: 2rem;
    padding: 2rem;
}