/*
   Comprehensive Base Stylesheet - https://fvsch.com/base-stylesheet/
   Makes browser default styles more consistent, creating a canvas that you
   should modify for your project. Fully commented. Last update: 2011-10-02.
*/

/* CONTAINERS */
body {
  margin: 24;
  padding: 16;
  /* Browsers have default 8px margins _or_ padding! */
  font-size: 100%;
  /* See: http://www.informationarchitects.jp/en/100e2r/ */
  line-height: 1.5;
  /* Default value, `normal`, depends on the font */
}

/* HTML5 blocks - needed in older browsers */
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
  display: block;
  margin: 24;
}

/* PARAGRAPHS */
h1,
h2,
h3,
h4 {
  margin: 1em 0 .5em;
  /* Titles should be close to the text they describe */
  line-height: 1.25;
  /* Bigger text is often nicer with smaller line height */
  font-weight: bold;
  /* Browser default. Use `normal` for less bulky titles */
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

h4 {
  font-size: 1em;
}

ul,
ol {
  margin: 1em 0;
  /* Default for all browsers except IE */
  padding-left: 40px;
  /* IE has a 40px margin-left instead */
}

p {
  margin: 1em 0;
}

blockquote {
  margin: 1em 40px;
  /* Same for all browsers - Customize or remove */
}

figure {
  margin: 1em 0;
  /* Default in HTML5 spec: `1em 40px` */
}

/* LINKS */
/* Default browser styles (from Firefox, similar in most browsers) */
a {
  text-decoration: underline;
}

a:link {
  color: #0000EE;
}

a:visited {
  color: #551A8B;
}

a:active {
  color: #EE0000;
}

/* Add your own styles for hover _and_ focus styles */
a:hover,
a:focus {
  /* ... */
}

/* Remove dotted outline clicked links - Keeps outline on focus */
a:active,
a:hover {
  outline: none;
}

/* No border around images in links */
a img {
  border: none;
}

/* MISC TEXT-LEVEL ELEMENTS */
/* Make quotations and references more visible */
q,
cite {
  font-style: italic;
}

/* Remove automatic quotation marks for inline quotations
   (`q {quotes:none}` not implemented in WebKit) */
q:before,
q:after {
  content: "";
}

/* Stopping superscript and subscript from adding to the line's leading */
sup,
sub {
  line-height: 0;
}

/* FORMS */
fieldset {
  margin: 0;
  /* Common default is `0 2px` */
  padding: 0;
  /* Common default (roughly): `.35em .625em .75em` */
  border: none;
}

input,
button,
select {
  vertical-align: middle;
  /* Helps keep form elements roughly aligned */
}

/* TABLES */
table {
  border-collapse: collapse;
  /* Merges cell borders together */
  /* Browser default: border-collapse: separate; border-spacing: 2px; */
}

td,
th {
  padding: 1px;
  /* Same as browser default - set to "0" to remove padding */
  vertical-align: top;
  /* Default is "middle" */
  text-align: left;
  /* Default for TH elements is "center" */
}

td:first-child,
th:first-child {
  empty-cells: hide;
  /* Hide empty cells when they're the first in the row */
}

label {

  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 150px;
  float: left;
}