body {
    background: #f5f5f5;

    h1 {
        text-align: center;
        font-family: arial;
        color: #5a5a5a;
    }

    ul {
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: center;
        flex-basis: 80%;

        li {
            flex-basis: 20%;
            display: flex;
            flex-direction: column;
            margin-bottom: 20px;
            align-items: center;

            span {
                font-family: arial;
                font-size: 14px;
                color: #5a5a5a;
                text-align: center;
            }

            img {
                margin: 5px;
                border-radius: 3px;
                box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
            }
        }
    }

}