/**
 * Layout
 */
body {
    margin: 0 auto;
    max-width: 40em;
    width: 88%;
}

.section {
    color: #ffffff;
    height: 75vh;
    margin: 10;
    width: 400px;
    padding: 16px 50px 75px 16px;
    /*top right bottom left*/
    font-size: 24px;
    font-family: 'Mukta', sans-serif;
    scroll-margin-top: 1em;
}

#a {
    background-color: #0074d9;
}

#b {
    background-color: #2ecc40;
}

#c {
    background-color: #ff851b;
}

#d {
    background-color: #b10dc9;
}

h2 {
    margin: 0;
    padding: 0;
}

/**
 * Sticky navigation
 */
.sticky {
    background-color: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/**
 * Display lists on a single line.
 * @bugfix Prevent webkit from removing list semantics
 * 1. Add a non-breaking space
 * 2. Make sure it doesn't mess up the DOM flow
 */
.list-inline {
    list-style: none;
    margin-left: -0.5em;
    margin-right: -0.5em;
    padding: 0;
}

.list-inline>li {
    display: inline-block;
    margin-left: 0.5em;
    margin-right: 0.5em;
    color: rgb(78, 78, 78);
    font-size: 18px;
    font-family: 'Mukta', sans-serif;
}

.list-inline>li:before {
    content: "\200B";
    /* 1 */
    position: absolute;
    /* 2 */
}

/**
 * Fonts Section
 * Because I hate ugly fonts
 * And I needed to learn about
 * Google Fonts
*/
.header {
    width: 100%;
    background-color: #4286f4;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Mukta', sans-serif;
}

.header h1 {
    color: black;
    font-size: 64px;
    font-family: 'Mukta', sans-serif;
}

.header h2 {
    color: white;
    font-size: 55px;
    font-family: 'Mukta', sans-serif;
}

.header h3 {
    color: white;
    font-size: 48px;
    font-family: 'Mukta', sans-serif;
}

.header h4 {
    color: white;
    font-size: 36px;
    font-family: 'Mukta', sans-serif;
}

.header h5 {
    color: white;
    font-size: 24px;
    font-family: 'Mukta', sans-serif;
}

a:link {
    color: black;
}

a:visited {
    color: rebeccapurple;
}

a:hover {
    color: rgb(226, 16, 104);
}

.paragraph p {
    color: #000000;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}