@mixin for-phone-only {
    @media (max-width: 599px) {
        @content;
    }
}

@mixin for-tablet-portrait-up {
    @media (min-width: 600px) {
        @content;
    }
}

@mixin for-tablet-portrait-only {
    @media (min-width: 600px) and (max-width: 899px) {
        @content;
    }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) {
        @content;
    }
}

@mixin for-tablet-landscape-only {
    @media (min-width: 900px) and (max-width: 1199px) {
        @content;
    }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) {
        @content;
    }
}

@mixin for-desktop-only {
    @media (min-width: 1200px) and (max-width: 1799px) {
        @content;
    }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) {
        @content;
    }
}

p {
    padding: 10px;
    background: #aaa;
    color: white;
}

.phone-up {
    background: purple;
}

.phone-only {
    @include for-phone-only {
        background: rgb(216, 102, 10);
    }
}

.tablet-portrait-only {
    @include for-tablet-portrait-only {
        background: rgb(216, 102, 10);
    }
}

.tablet-portrait-up {
    @include for-tablet-portrait-up {
        background: purple;
    }
}

.tablet-landscape-only {
    @include for-tablet-landscape-only {
        background: rgb(216, 102, 10);
    }
}

.tablet-landscape-up {
    @include for-tablet-landscape-up {
        background: purple;
    }
}

.desktop-only {
    @include for-desktop-only {
        background: rgb(216, 102, 10);
    }
}

.desktop-up {
    @include for-desktop-up {
        background: purple;
    }
}

.big-desktop-up {
    @include for-big-desktop-up {
        background: rgb(98, 96, 221);
    }
}