@import url("https://fonts.googleapis.com/css?family=Lora:400,400i,700");

* {
    box-sizing: border-box;
}

body {
    text-align: center;
    background: #c5e1a5;
    font-family: Lora, sans-serif;
}

h1 {
    color: #388e3c;
}

textarea,
button {
    font-family: inherit;
}

textarea {
    padding: 0.5rem;
    max-width: 100%;
    font-size: 1.5rem;
}