* {
  font-family: Roboto, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 0;
}
body {
  padding: 0;
  margin: 0;
}
a, a:hover, a:visited {
  color: currentColor;
  text-decoration: none;
  display: block;
}
.container {
  height: 100vh;
  background: linear-gradient(45deg, #888, #444);
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
}
.email {
  border: 0;
  padding: 10px;
  min-width: 275px;
  background: rgba(255, 255, 255, .2);
  color: rgba(255, 255, 255, 1);
}
.email::-webkit-input-placeholder {
  color: rgba(255, 255, 255, .35);
}
.email::-moz-placeholder {
  color: rgba(255, 255, 255, .35);
}
.email:-ms-input-placeholder {
  color: rgba(255, 255, 255, .35);
}
.email::-ms-input-placeholder {
  color: rgba(255, 255, 255, .35);
}
.email::placeholder {
  color: rgba(255, 255, 255, .35);
}
.update {
  padding: 10px;
  width: 20%;
  min-width: 275px;
  background: rgba(255, 255, 255, .2);
  color: rgba(255, 255, 255, 1);
  margin-top: 10px;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}
.failure {
  background: rgba(255, 0, 0, .6);
}
.success {
  background: rgba(0, 255, 0, .6);
}